       *{
            font-family: "Inter", sans-serif;
            ;
        }

        .primary-bg-color {
            background-color: #15803D;
        }

        .hover-primary-bg {
            background-color: #053918;
        }

        .secondary-button {
            background-color: #FACC15;
        }

        .fd {
            color: #075524;
            color: #bb980a;
            color: #13ac4b;
        }
        .text-align-center{
            text-align: center;
        }
        .banner-div{
            background-image: url(./assets/hero-leaf1.png) , url(./assets/hero-leaf2.png);
            background-position: top 35px  left -15px , top 35px right -15px;
            background-repeat: no-repeat;
            background-size: 35%;
        }

        @media screen and (max-width: 600px){
            .banner-div{
                background-image: none;
            }
        }

        .section-header{
            color: #15803D;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            padding-bottom: 40px;
        }
        .aboutCampaign-ul{
            list-style-type: disc;
            list-style-position: inside;
        }
        .form-inputs{
            background-color: white;
            padding: 10px;
            border: none;
            border-radius: 15px;
            margin-bottom: 12px;
        }
        
        .active{
            background-color: #15803D;
            color: white;
            border-radius: 20px;
        }
         @media screen and (max-width: 600px){
            #categoris-ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-size: 16px;
            }
            #categoris-ul li{
                display: flex;
                align-items: center;
            }
            
        }