* {
            font-family: "Inter", sans-serif;
            ;
        }

        .primary-bg-color {
            background-color: #15803D;
        }

        .hover-primary-bg {
            background-color: #053918;
        }

        .secondary-button {
            background-color: #FACC15;
        }

        .fd {
            color: #0aab45;
            color: #bb980a;
            color: #13ac4b;
        }
        .text-align-center{
            text-align: center;
        }
        .banner-div{
            background-image: url(./assets/hero-leaf1.png) , url(./assets/hero-leaf2.png);
            background-position: top  left -15px , top right -15px;
            background-repeat: no-repeat;
            background-size: 35%;
        }

        @media screen and (max-width: 600px){
            .banner-div{
                background-image: none;
            }
        }

        .section-header{
            color: #1F2937;
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 40px;
        }
        .aboutCampaign-ul{
            list-style-type: disc;
            list-style-position: inside;
        }